/* Alineación hacia el centro de los elementos de una tabla */
td, th {
    text-align: center;
}
/* Estilo para los span que muestran mensajes de error de validación en formularios */
.error {
    color: red;
    background-color: #ffc6c6;
}
/* Estilo para las imágenes en las tarjetas de la página "cursos disponibles" */
.estilo-imagen {
    max-width: 50%;
    height: auto;
    background-color: white;
}
/* Estilo para el fondo del body en la página de login */
.body-estilo-1{
    background-attachment: fixed;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* Estilo para el fondo del body en todas las páginas excepto el login */
.body-estilo-2 {
    background-attachment: fixed;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

/* Color de fondo para la tarjeta en donde está el formulario del login */
.estilo-tarjeta-login {
    background-color: #a7b9b9;
}

/* Color de fondo para tarjetas de la ventana de cursos disponibles */
.estilo-tarjeta-curso {
    background-color: #b4cfd0;
}

/* Color de fondo para el navbar en todas las páginas */
.estilo-navbar{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
/* ----------------------------------------------------------------------------------------------------------- */
/* Estilo especial para el botón de iniciar sesión/cerrar sesión */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}